div.auto_complete    {
     position           :relative;
     width              :250px;
     top                :126px;
     background-color   :white;
     border             :1px solid #ff6600;
     margin             :0px;
     padding            :0px;
} 
p.search    {
    text-align          :right;
    font-size           :large; 
    display             :inline;
    color               :black;
}
div.arch    {
    text-align          :center;
}
p.copyleft    {
    color               :#888888;
    font-size           :small;      
}
p.build    {
    text-align          :center;
    color               :#5a860a;
    font-size           :125%;      
}
h2.home    {
    color               :black; 
    border-bottom       :1px solid #ff6600; 
    border-bottom-width :auto; 
    display             :inline-block;
    margin-bottom       :3px;
    padding-bottom      : 4px;

}
li.selected    { 
    background-color    :#fff;
}
h2, .search {
    font-family         :Ubuntu;
    font-size           :2em; 
}
h2.showdesc   {
        color           :#5a860a;
}
h2.install   {
        color           :#5a860a;
        margin-bottom   :3px;
        padding-bottom  : 4px;
}
h4.appinfo   {
    display             :inline;
}
img.appbtn   {
     border             : 0;
}
table.appbtn {
    width               :35%;
}
img.oops    {
    display             :block;
    margin-left         :auto;
    margin-right        :auto;
    margin-bottom       :3px;
    padding-bottom      :10px;
}
p.searcherr   {
        text-align      :center;
}
    
